@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;800;900&display=swap');

:root{
    ---font-principal: 'Inter', sans-serif;
    ---black: #0f0f0f;
    ---green-1: #33DB57;
    ---green-2: #22be44;
    ---green-3: #00804A;
    ---gray-1: #fff;
    ---gray-2: #f0eeee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(---font-principal);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 30px;
}

#logo{
    font-size: 1.6rem;
}

#menu a{
    padding: .4rem;
}

#menu {
    list-style: none;
    display: flex;
    gap: .8rem;
    align-items: center;
}

#menu a,
#logo{
    color: var(---black);
}

#menu a:hover {
   color: var(---green-1);
}

#menu a,
#logo {
    text-decoration: none;
}

.quiz-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #333;
}

#question-container {
    margin-top: 20px;
    text-align: center;
}

#question-text {
    font-size: 24px;
    font-weight: 700;
}

#options-list {
    list-style: none;
    padding: 0;
}

#options-list li {
    margin: 10px 0;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
}

#options-list li:hover {
    color: var(---green-1); 
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}

/* :root{
    ---font-principal: 'Inter', sans-serif;
    ---black: #0f0f0f;
    ---green-1: #33DB57;
    ---green-2: #22be44;
    ---green-3: #00804A;
    ---gray-1: #fff;
    ---gray-2: #f0eeee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(---font-principal);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

#logo{
    font-size: 1.6rem;
}

#menu a{
    padding: .4rem;
}

#menu {
    list-style: none;
    display: flex;
    gap: .8rem;
    align-items: center;
}

#menu a,
#logo{
    color: var(---black);
}

#menu a:hover {
   color: var(---green-1);
}

#menu a,
#logo {
    text-decoration: none;
}

button {
    display: block;    
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.resp-correta,
.resp-errada {
    display: none;
}

.resp-correta.ativo,
.resp-errada.ativo {
    display: block;
} */